@import url('https://fonts.googleapis.com/css?family=Open+Sans');

html,
body {
  font-family: "Open Sans", sans-serif;
  font-size: 20px;
}

/* 
  Fixes img character text issue
  https://stackoverflow.com/questions/10844205/html-5-strange-img-always-adds-3px-margin-at-bottom
*/
a > img {
  vertical-align: middle;
}
