{
  "parserOptions": {
    "ecmaVersion": 2017,
    "sourceType": "module"
  },
  "env":{
    "node": true
  },
  "extends": "eslint:recommended",
  "rules": {
    "no-console": "off",
    "global-require": "warn",
    "no-new-require": "error"
  }
}