# general
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# client
client/node_modules
client/coverage
client/build

client/.DS_Store
client/.env.local
client/.env.development.local
client/.env.test.local
client/.env.production.local

client/npm-debug.log*
client/yarn-debug.log*
client/yarn-error.log*

# server
