.disabled-button
	color white
	background-color grey
	cursor not-allowed
	i
		color white

.enabled-button
	background $hover-blue
	color white
	cursor pointer
	i
		color $nav-hover
	&:hover
		background-color $nav-hover
		i
			color white
