main {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #e3e4e8;
}

img {
  height: 6rem;
  margin: 2.5rem;
}

section {
  display: flex;
  flex-direction: column;
  background: white;
  background-color: #101218;
}

form {
  width: 28rem;
  margin: 0 auto;
  background-color: white;
}

input {
  width: 28rem;
  font-size: 1.65rem;
  padding: 1.5rem 0;
  text-align: center;
  border: none;
}

input[type='text'],
input[type='password'] {
  background-color: white;
  border-bottom: 1px solid #d0d2db;
  &:hover,
  &:focus {
    background-color: white;
  }
}

input[type='submit'] {
  width: 28rem;
  text-transform: uppercase;
  background-color: #101218;
  color: white;
  &:hover {
    cursor: pointer;
  }
}

p {
  margin: 1rem;
  font-size: 1.2rem;

  a {
    color: MediumSeaGreen;
  }
}
