main {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

section {
  display: flex;
  flex-direction: column;
  justify-content: center;
  background: white;
  border: 3px solid hsla(0, 0, 0, 0.5);
  border-radius: 10px;
  width: 34rem;
  padding: 4rem 0;
}

form {
  margin: 1.5rem auto;
  padding: 0.8rem;
  width: 28rem;
  border: 3px solid hsla(0, 0, 0, 0.35);
  border-radius: 5px;
}

input {
  width: 98%;
  height: 4rem;
  font-size: 1.75rem;
  margin-bottom: 0.7rem;
  text-align: center;
  border: 2px solid hsla(0, 0, 0, 0.35);
  border-radius: 5px;
  box-sizing: content-box;
}

input[type='text'],
input[type='password'] {
  background-color: rgb(245, 245, 245);

  &:hover,
  &:focus {
    background-color: white;
  }
}

input[type='submit'] {
  color: white;
  background-color: black;
  width: 13.5rem;
  height: 3.4rem;
  margin-bottom: 0;
}

p {
  margin: 0;
  font-size: 1.15rem;

  a,
  a:hover,
  a:visited {
    text-decoration: none;
    color: grey;
  }
}

img {
  height: 6rem;
}
